<div *ngIf="viewModel$ | async as viewModel">
  <ng-container *ngIf="viewModel.displayedJoke">
    <app-joke [joke]="viewModel.displayedJoke" [showDelivery]="viewModel.showDelivery"></app-joke>

    <div>
      <button (click)="showDelivery()">Afficher la chute</button>&nbsp;
      <button (click)="jokeLiked(viewModel.displayedJoke)" id="like">Like</button>
      &nbsp;
      <button (click)="nextJoke()" id="next">Next</button>
    </div>
  </ng-container>

  <div id="liked-jokes">
    <p>Liked jokes: ({{ viewModel.likedJokes | likedJokesCount }})</p>
    <app-joke *ngFor="let joke of viewModel.likedJokes" [joke]="joke"></app-joke>
  </div>
</div>

